/* src/component/HomePage.css */
.homepage {
  background: linear-gradient(
    to bottom,
    #020024,
    #090979,
    #00d4ff
  ); /* Space gradient background */
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100vh; /* Full height of the page */
}

.homepage .button {
  background: #090979;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.homepage .button:hover {
  background: #00d4ff;
  cursor: pointer;
}

.homepage h1,
h2,
h3 {
  color: white;
}
